root = true

[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

csharp_indent_labels = one_less_than_current

csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_after_comma = true

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none